@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@250;350&display=swap');
:root{
    --background-color: #212529;
    --secondary-background-color: #242a30;
    --overlay-color: #4950577c;
    --card-color: #6c757d;
    --text-color: #f1faee;
    --button-color: #e63946;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}
#header{
    padding:6rem 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-align: center;
    color: var(--text-color);
    background-color: var(--secondary-background-color);
    height: 30vh;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
/* NAVBAR STYLING STARTS */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--button-color);
    color: #fff;
    z-index: 1000;
}
.nav-links a {
    color: #fff;
}
.navbar.active {
    background-color: var(--secondary-background-color);
    color: var(--button-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
.navbar.active a {
    color: var(--text-color);
}
  
.navbar.active .container {
    padding: 10px 0;
}
   /* LOGO */
.logo {
    font-size: 32px;
    color: white;
}
.logo a{
    color: #fff;
}
   /* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    background-color: #e46872;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}
   /* DROPDOWN MENU */
.services {
    position: relative; 
}
.dropdown {
    background-color: #e46872;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}
.dropdown li + li {
    margin-top: 10px;
}
.dropdown li {
    padding: 0.5em 1em;
    width: 6em;
    text-align: center;
}
.dropdown li:hover {
    background-color: var(--button-color);
}
.services:hover .dropdown {
    display: block;
}
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
} 
   /*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
/* Style the project row */
.portfolio-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}
.card{  
    margin: 10px;
    width: 300px;  
    height: 250px;  
    background: rgb(0, 87, 128);  
    position: relative;  
    cursor: pointer;  
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.123);  
} 
.card a{
    color: #fff;
    text-decoration: none;
}
.card a:hover{
    color: #fff;
}
.card img{  
    object-fit: cover; 
    width: 100%;  
    height: 100%;
}  
.content{  
    position: absolute;  
    width: 100%; 
    left: 0;
    right: 0;
    bottom: 0; 
    height: 50px;  
    font-size: 14px;  
    background:#21252996;  
    backdrop-filter: blur(10px);  
    color: var(--text-color);  
    border: 1px solid rgba(255, 255, 255, 0.164);  
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.144);  
    overflow: hidden;  
    transition: all .4s;  
    transform: scale(0.9);  
}  

.project-buttons button{
    background-color: var(--button-color);
    color: var(--text-color);
    margin: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 7px 0 7px 0;
}
.content p{  
    padding:0 15px;
}  
.content h2{
    text-align: center;
    color: var(--text-color);
}
  .card:hover .content{  
    height: 220px;  
  }  
  .project-buttons{
    display: flex;
    justify-content: space-around;
    flex-direction: column;   
    padding: 10px;
  }
