@media (max-width: 600px) {
    .landing-text{
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }
    
    .cup-image{
        margin: 0;
        width: 150px;
        right: 30px;
        top: 350px;
        
    }
    .laptop-image{
        margin: 0;
        width: 100px;
        left: -0;
        top: 150px;
        right: 0;
    }
    #about{
        flex-direction: column;
        height: 180vh;

    }
    .container{
        padding: 2px;
        flex-direction: column;
    }

    .about-text{
        position: relative;
        font-size: 15px;
        width: 100%;
    }
    .about-image{
        position: relative;
        left: 0;
        width: 100%;
    }
    .section-counter{
        display: flex;
        flex-direction: column;
    }
    .subscribe{
        margin: 1em;
       
    }

}
